.stv ul, .stv li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.stv li li {
  position: relative;
  padding: .15rem 0 .15rem 1.5rem;
  margin-left: .5rem;
  border-left: 1px solid #636363;
}

.stv li li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: .75rem;
  height: 1.15rem;
  border-left: 1px solid #636363;
  border-bottom: 1px solid #636363;
}

.stv li li:last-child {
  border-color: transparent;
}

.stv {
  margin-bottom: 1rem;
}

{% for decorator in decorators -%}

[class^="stv-{{ decorator.name }}-"] {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}

{% for icon in decorator.icons %}
.stv-{{ decorator.name }}-{{ icon.name }} {
  background-image: url('{{ icon.path }}');
  {%- for property, value in icon.css_properties.items() %}
  {{ property }}: {{ value }};
  {% endfor %}
  width: {{ icon.width }}em;
  height: {{ icon.height }}em;
}
{% endfor %}
{% endfor %}

.stv .collapse-trigger {
  display: none;
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.stv li:hover > .collapse-trigger {
  display: block;
}

.stv .collapse-trigger::before {
  content: "\25BE";
  position: absolute;
  font-size: 0.8rem;
}

.stv .collapsed > .collapse-trigger::before {
  transform: rotate(-90deg);
}

.stv .collapsed > ul {
  display: none;
}

.stv.no-collapse .collapse-trigger {
  display: none !important;
}